.col-md-12
  .row
    %h3
      =@list.name
    %hr
  -if @list.list_items.at_location(nil).count > 0
    .row
      %h4
        Location Unknown
      -i=1
      -@list.list_items.at_location(nil).each do |list_item|
        -if i == @list.list_items.at_location(nil).count
          ="#{list_item.item.name}"
          -if list_item.note?
            ="(#{list_item.note})"
        -else
          -i+=1
          ="#{list_item.item.name}"
          -if list_item.note?
            ="(#{list_item.note})"
          =", "
      %hr
  .row
  %table{border: 0, style: 'valign: top'}
    -@list.locations.by_order.uniq.each_slice(4) do |locs|
      %tr
        -locs.each do |loc|
          %td
            // TITLE OF LOCATION 
            -if loc.description
              %h4=loc.name
              %strong="(#{loc.description})"
              %br
            -else
              %h4=loc.name
            // Items at this location
            -@list.list_items.at_location(loc).each do |list_item|
              =list_item.item.name.strip
              -if list_item.note?
                ="(#{list_item.note})"
              %br

:javascript
  window.onload = function() { window.print(); }