.col-md-12
  .row
    %h3
      =@list.name
    %hr
  -if @items_without_locs.count > 0
    .row
      %h4
        Location Unknown
      -i=1
      -@items_without_locs.each do |list_item|
        -if i == @items_without_locs.count
          ="#{list_item.item.name}"
          -if list_item.note?
            ="(#{list_item.note})"
        -else
          -i+=1
          ="#{list_item.item.name}"
          -if list_item.note?
            ="(#{list_item.note})"
          =", "
      %hr
  .row
  %table{border: 0, style: 'valign: top'}
    -@items_at_locs.each_slice(4) do |locs|
      %tr
        -locs.each do |loc|
          %td
            // TITLE OF LOCATION 
            -unless loc[:location].description.blank?
              %h4=loc[:location].name
              %strong="(#{loc[:location].description})"
              %br
            -else
              %h4=loc[:location].name
            // Items at this location
            -loc[:list_items].each do |list_item|
              =list_item.item.name.strip
              -if list_item.note?
                ="(#{list_item.note})"
              %br

:javascript
  window.onload = function() { window.print(); }